*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.main-logo img {
    width: 170px;
}

.main-menu {
    display: flex;
}

.main-menu a {
    color: #012134;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-right: 25px;
    transition: all ease-in-out .2s;
}

.main-menu a:hover {
    color: #03b4c1;
    background-color: #12959e44;
    padding: 5px 12px;
    border-radius: 3px;

}

.navbar-btn button{
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #012134;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: all ease-in-out .2s;
}

.header button:hover {
    font-weight: bold;
    background: #03b4c1;
    color: #012134;
    border-color: #03b4c1;
}

.container {
    width: 100%;
    background: #012134;
;
}

.main-content {
    background-color: #bbfaff;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
}

.footer {
    background-color: thistle;
    min-height: 357px;
    text-align: center;
}